<html>
  <head>
    <link rel="stylesheet" href="output.css">
  </head>
  <body>
    <h1>Items</h1>
    <ul>
      <% items.forEach(item => { %>
        <li><%= item.name %> - <%= item.description %> (Year: <%= item.year %>)</li>
      <% }) %>
    </ul>
  </body>
</html>