<html>
  <head>
    <link rel="stylesheet" href="output.css">
  </head>
  <body>
    <h1>Categories</h1>
    <br>
      <% categories.forEach(categorie => { %>
        <h2><%- categorie.name %> <button id="<%- categorie.id %>" class="delete">D</button></h2>
      <% }) %>
    <br>
    <button id="addbtn">Add</button>
    <script>
      const addbtn = document.getElementById("addbtn");
      const cform = document.getElementById("cform");
      addbtn.addEventListener("click",()=>{
        cform.classList.remove("hidden");
      });

      const dltBtns = document.querySelectorAll(".delete");
      dltBtns.forEach(dltBtn => {
        dltBtn.addEventListener("click",async ()=>{
          const id = dltBtn.id;
          await pool.query(`DELETE FROM categories WHERE id=${id}`)
        })
      });
    </script>
</html>